<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Oregon Hikes</title>
         <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
    </head>
    <body>
        <h1 class="h1">Edit</h1>
        <div class="lbttn">
            <div class="lbttn2">
                <div class="lbttn3">
                   <form action="/hike/<%=Hike.id%>?_method=PUT" method="POST">
                     <input type="text" name="title" value="<%=Hike.title%>" placeholder="TITLE">
                     <input type="text" name="img" value="<%=Hike.img%>" placeholder="IMAGE">
                     <input type="text" name="map" value="<%=Hike.map%>"placeholder="MAP URL">
                     <input type="text" name="difficulty" value="<%=Hike.difficulty%>"placeholder="DIFFICULTY Easy/Moderate/Hard"><br>
                     <textarea class="textarea" type="textarea" name="description" value="<%=Hike.description%>" placeholder="DESCRIPTION"></textarea>
                     <input type="submit" value="Submit Changes"/>
                   </form>
                   <input type="submit" value="&#60; Back" onclick="window.location.href='/hike' ">
                </div>
            </div>
        </div>
    </body>
</html>